<div class="container">

  <hr/><br/>

  <a style="float: left; margin: 0 20px 0 0; border: 0pt none"class="popup" href="http://www.unibg.it/" title="Unibg">
    <img src="{{ "/images/unibg.png" | relative_url }}" title="Unibg Logo" height=60px />
  </a>
  &emsp; &emsp; &emsp; &emsp;
  <a style="float: left; margin: 0 20px 0 0; border: 0pt none" class="popup" href="http://www.aicanet.it/" alt="AICA">
    <img src="{{ "/images/aica.png" | relative_url }}" title="AICA Logo" height=60px />
  </a>

</div>
