<div class="nav-wrapper">
  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="140">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <div class="collapse navbar-collapse" id="thenav">
        <ul class="nav navbar-nav">
          <li><a href="/cfp">Call for Papers</a></li>
          <li><a href="/committees">Committees</a></li>
          <li><a href="/dates">Important dates</a></li>
          <li><a href="/submissions">Submissions</a></li>
          {% comment %}
          <li><a href="/authors">Authors instructions</a></li>
          <li><a href="/registration">Registration</a></li>
          <li><a href="/program">Program</a></li>
          {% endcomment %}
          <li><a href="/venue">Venue</a></li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
